---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Experience from "../components/Experience.astro";
import { SITE_TITLE, SITE_DESCRIPTION, workHistoryInfo } from "../config";

import Project from "../components/Project.astro";
import { builds } from "../config";

import MainLayout from "../layouts/MainLayout.astro";

import { Image, Picture } from "@astrojs/image/components";

import "../styles/global.css";
---

<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>Welcome to my Portfolio Page!</p>
			<div>
				<Project title='Projects' details={builds.projects} />
			</div>
			<div>
				<h2>Experince section to be clicked on</h2>
			</div>

			<div>
				<h2>Work history</h2>
			</div>
		</main>
		<Footer />
	</body>
</html>
