---
//Layout import - provides basic page elements: <head> <nav> <footer> etc.
import MainLayout from "../layouts/MainLayout.astro";

//Components Imports
import Hero from "../components/Hero.astro";
---

<MainLayout title='Portfolio' description='Test Test'>
	<div class='hero'>
		<Hero
			title='Introduction'
			tagline='I am a Full Stack Developer who currently lives in Minneapolis, MN. I am eager to start showcasing my skill sets to solve real world problems.'
			align='start'
		/>
	</div>

	<div class='button_container'>
		<button> Resume</button>
		<button> Projects</button>
	</div>
</MainLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
		border-width: 20pt;
		font-size: 18pt;
	}

	.roles {
		display: none;
	}

	button {
		text-align: center;
		background-color: darkblue;
		color: yellowgreen;
		margin: auto;
		border-radius: 20px;
		font-size: 18pt;
		padding: 8px;
	}
	.roles {
		margin-top: 0.5rem;
		display: flex;
		gap: 0.5rem;
	}

	.hero img {
		border-radius: 4.5rem;
		object-fit: cover;
	}

	.button_container {
		align-content: baseline;
		flex-direction: row;
		display: flex;
	}
</style>
