---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
	<h1>
		{SITE_TITLE}
	</h1>
	<nav>
		<HeaderLink href='/'>Home</HeaderLink>
		<!-- <HeaderLink href='/experience'>Experience</HeaderLink> -->
		<HeaderLink href='https://github.com/LifeofVic' target='_blank'>
			GitHub
		</HeaderLink>
		<HeaderLink href='https://www.linkedin.com/in/victorllapa/' target='_blank'>
			LinkedIn
		</HeaderLink>
	</nav>
</header>
<style></style>
