---
import { projectList } from "../types/index";
const { title, details } = Astro.props as projectList;

import "../styles/global.css";
---

<section class='project-page'>
	<h2 class='header-project-page'>{title}</h2>
	<div>
		{
			details.map(item => (
				<div class='max-w-auto '>
					<h1 class='text-xl'>{item.name}</h1>
					<p class='font-medium'> {item.description}</p>
					<slot />
				</div>
			))
		}
	</div>
</section>
