---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

const { title, description } = Astro.props;
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<!-- <BaseHead title={title} description={description} /> -->
		<Nav />
	</head>
	<body>
		<div id='intro_message'>
			<div id='intro_container'>
				<h1>Hello,</h1>
				<h1>My name is Victor Llapa</h1>
				<h1>I am a Software Engineer.</h1>
			</div>
			<article>
				<slot />
				<!-- your content is injected here -->
			</article>
			<Footer />
			<style></style>
			<style>
				header {
					margin: 0em 0 2em;
					background-color: gray;
				}
				h1 {
					color: black;
					font-size: 34pt;
					padding-left: 50pt;
				}
				#name {
					color: dimgrey;
				}
				body {
					background-color: lightslategray;
				}
				#intro_message {
					border: solid;
					padding: 10vh;
					background-color: darkcyan;
					border-radius: 15px;
					margin: 18px;
				}
				#intro_container {
					align-items: center;
				}
			</style>
		</div>
	</body>
</html>
